@import url("fonts.css");

@import url("reset.css");

.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  font-family: "Inter", sans-serif;
  padding: 20px 0;
  background: #fff;
}

.header__container {
  margin-bottom: 160px;
}
.menu {
  text-align: center;
  font-weight: 700;
}

.menu__list {
  font-size: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  padding: 20px 0;
  line-height: 1.2;
}

.menu__menu-sub {
  position: absolute;
  top: 40px;
  left: 0;
}

.sub-menu {
  min-width: 100px;
  text-align: left;
  padding: 15px;
  color: white;
  background-color: #6b77e5;
  visibility: hidden;
  opacity: 0;
}

.sub-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  /*  background-color: rgb(212, 166, 255); */
}

.menu__item:hover .menu__link {
  color: #40ddb6;
}

.menu__item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 15px;
}

.sub-menu__link:hover {
  margin-left: 5px;
  text-decoration: underline;
  color: springgreen;
}

.sub-menu__side {
  position: absolute;
  top: 45px;
  left: 100%;
}

.side-menu {
  min-width: 50px;
  text-align: left;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: greenyellow;
  visibility: hidden;
  opacity: 0;
}

.sub-menu__item:hover .side-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu__side::before {
  content: "";
  position: absolute;
  width: 35px;
  right: 100%;
  height: 100%;
  bottom: 0;
  /*  background-color: rgb(212, 166, 255); */
}

.side-menu__item:not(:last-child) {
  margin-bottom: 15px;
}

.side-menu__link:hover {
  padding: 5px;
  background-color: darkorange;
  border-radius: 50%;
}

.page__card {
  max-width: 386px;
  display: inline-block;
}
.card__img{
  width: 100%;
}

.page__line:not(:last-child) {
  margin-bottom: 31px;
}

.page__line .page__card:not(:last-child) {
  margin-right: 25px;
}

.card {
  position: relative;
}

.card__caption {
  position: absolute;
  width: 341px;
  padding: 24px 47px;
  text-align: center;
  background-color: #fff;
  bottom: 22px;
  left: 23px;
  z-index: 1;
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #37393f;
}

.card__contacts {
  position: absolute;
  top: 241px;
  left: 107px;
  visibility: hidden;
  opacity: 0;
}
.contacts-card__link:not(:last-child) {
  margin-right: 13px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(107, 119, 229, 0.7);
}

.card:hover::before {
  opacity: 1;
}

.card:hover .card__contacts {
  visibility: visible;
  opacity: 1;
}

.page__container {
  margin-bottom: 50px;
}

.footer {
  font-size: 18px;
}

.footer__container {
  background-color: deepskyblue;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
}
.footer__block:first-child {
  background-color: violet;
  position: absolute;
  top: 200px;
  left: 200px;
}

.footer__block:nth-child(2) {
  background: yellowgreen;
  position: sticky;
  top: 0;
  left: 0;
  left: 0;
}
.footer__block:nth-child(3) {
  background-color: cadetblue;
  position: fixed;
  max-width: 1000px;
 right: 0;
  bottom: 250px;
  z-index: 10;
}

.footer__block:last-child {
  background-color: orange;
  font-size: 36px;
}
