@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.27;
  color: #7d7d7d;
}

.container {
  max-width: 1170px;
}

.menu {
  text-align: center;
  text-transform: uppercase;
  color: #6b77e5;
  font-size: 50px;
}

.block {
  max-width: 692px;
  margin: 0 auto 50px;
}
.picture {
  margin-bottom: 37px;
}

.title,
.subhead,
.color-text,
.block-2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.title {
  font-size: 30px;
  color: #37393f;
  margin-bottom: 3px;
}

.color-text {
  font-size: 20px;
  color: #6b77e5;
  margin: 42px 0 12px;
}

.block-1 {
  margin-bottom: 40px;
}

.subhead {
  font-size: 25px;
  color: #37393f;
  margin-bottom: 15px;
}

.block-2 {
  font-size: 0;
}

.block-2 p {
  font-size: 20px;
  color: #40ddb6;
  margin-bottom: 21px;
}

.item {
  font-size: 18px;
  color: #7d7d7d;
}
.item + .item {
  margin-top: 30px;
}

.text {
  display: inline-block;
  width: 332px;
  margin-left: 29px;
}

.wrap {
  background-color: #fff9f4;
  font-size: 0;
  margin-bottom: 50px;
}
.wrap-txt {
  display: inline-block;
  font-size: 20px;
  line-height: 1.8;
  color: #474747;
  width: 563px;
  padding: 21px 0;
  margin-right: 38px;
}

.subtitle {
  font-size: 28px;
  color: #d06b00;
}

.subtitle + p {
  font-family: "DM Serif Text", serif;
  font-size: 59px;
  line-height: 1.47;
  color: #0e333d;
}

.photo {
  margin-right: 22px;
}

.example {
  width: 300px;
  max-height: 141px;
  overflow: auto;
  background-color: aqua;
  color: brown;
}
