@mixin fontProperty($color: #fff, $fontFamily: "Montserrat", $fontSize: 18px, $fontWeight: 800, $lineHeiight: 1.67) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeiight;
}

@mixin position($width: 100%, $height: 100%, $top: 0, $left: 0) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}
