@import url("https://fonts.googleapis.com/css?family=Inter:regular,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100italic&display=swap");


@font-face {
  font-family: "Alegreya SC";
  src: url("../fonts/alegreyasc-bold-webfont.woff2") format("woff2"),
    url("../fonts/alegreyasc-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("../fonts/alegreyasc-medium-webfont.woff2") format("woff2"),
    url("../fonts/alegreyasc-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/play-regular-webfont.woff2") format("woff2"),
    url("../fonts/play-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}