@import url("fonts.css");

@import url("reset.css");

body {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.title {
  font-family: "Alegreya SC", serif;
  font-weight: 700;
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: blueviolet;
  text-shadow: 5px 5px 10px rgba(0, 128, 117, 0.592);
  letter-spacing: 7px;
}

.preamble {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-shadow: 2px 2px 5px rgba(50, 12, 133, 0.484);
  text-indent: 50px;
  word-spacing: 10px;
}
.subhead {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 24px;
}

.subtitle {
  font-family: "Inter", serif;
  font-weight: 900;
  font-size: 28px;
  color: brown;
  text-align: right;
  text-decoration: overline;
}

.footer {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.46;
  color: #7d7d7d;
}

.block-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27;
  color: #37393f;
}

.color-text{
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 1.27;
color: #6B77E5;
}

.container-title{
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 1.27;
color: #37393F;
}