@import url("fonts.css");

@import url("reset.css");

.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  background-image: linear-gradient(90deg, rgba(12, 234, 251, 1) 19%, rgba(213, 194, 18, 1) 96%);
  background-attachment: fixed;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.header__menu {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}

.header__item {
  display: inline-block;
  padding: 15px;
}
.header__item:first-child {
  margin-right: 50px;
}
.header__link {
  transition-duration: 0.5s, 0.2s;
  transition-property: background-color, color;
}

.header__link:hover {
  color: darkgreen;
  background-color: deepskyblue;
  border-radius: 5px;
}

.header__link:active {
  text-decoration: underline;
}

[class*="__block"] {
  width: 150px;
  height: 150px;
  background-image: radial-gradient(
    circle,
    rgba(12, 234, 251, 1) 11%,
    rgba(106, 14, 227, 1) 34%,
    rgba(177, 17, 154, 1) 68%,
    rgba(213, 18, 117, 1) 83%
  );
  margin: 0 auto;
}

[class*="__block"]:not(:last-child) {
  margin-bottom: 25px;
}
.page__name {
  margin-bottom: 10px;
}

.page__block:first-of-type {
  transition-duration: 0.5s;
}

.page__block:first-of-type:hover {
  width: 200px;
}

.page__block:nth-of-type(2) {
  transition-duration: 0.5s;
  transition-property: height;
}
.page__block:nth-of-type(2):hover {
  height: 200px;
}

.page__block:nth-of-type(3) {
  transition-delay: 0s, 0.5s;
  transition-duration: 0.5s, 1s;
  transition-property: width, height;
}

.page__block:nth-of-type(3):hover {
  width: 200px;
  height: 200px;
}

.page__block:nth-of-type(4) {
  transition-duration: 0.5s;
  /*  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
  /*  transition-timing-function: ease-in-out; */
  /*   transition-timing-function: ease-in; */
  /*   transition-timing-function: ease-out; */
  transition-timing-function: linear;
}

.page__block:nth-of-type(4):hover {
  width: 200px;
  height: 200px;
  transform: rotate(-360deg);
}

.page__block:nth-of-type(5) {
  transition:
    width 0.4s ease-in 0s,
    height 0.3s ease-out 0.4s;
}

.page__block:nth-of-type(5):hover {
  width: 200px;
  height: 200px;
}

.page__block:nth-of-type(6) {
  animation: scale 1.5s linear infinite 1s;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

.page__block:nth-of-type(6):hover {
  animation-play-state: paused;
}

/* car */
.car {
  padding: 200px 0 20px 30px;
  background: url("../img/background.jpg") center / cover repeat-x;
  position: relative;
}

.car__body {
  width: 300px;
  height: 170px;
  background-color: red;
  margin: 0 10px 0;
  position: relative;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 100px;
  transform: scale(0);
  animation: emersion 5s linear 10s 1 forwards,
  go 5s ease-in 25s 1 forwards;
}

@keyframes emersion {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes go{
  0% {
    transform: translateX(0);
  }

  100% {
   transform: translateX(1500px); 
  }
}

.car__hood {
  width: 150px;
  height: 100px;
  position: absolute;
  background-color: red;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  right: -100px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.car__mirror {
  width: 20px;
  height: 25px;
  border-radius: 30%;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
}
.car__light {
  width: 20px;
  height: 30px;
  background-color: orange;
  border: 1px solid black;
  position: absolute;
  right: 0;
  border-top-right-radius: 25px;
}
.car__stepney {
  width: 30px;
  height: 120px;
  position: absolute;
  background-color: black;
  border-radius: 10px;
  bottom: 25px;
  left: -30px;
}

.car__door-1 {
  width: 85px;
  height: 140px;
  position: absolute;
  background-color: red;
  border: 1px solid rgb(103, 71, 71);
  top: 10px;
  right: 15px;
}
.car__window {
  width: 65px;
  height: 50px;
  background-color: rgb(167, 227, 247);
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 10px;
}

.car__window--superman {
  background: url("../img/superman.jpg") center/cover no-repeat;
}

.car__window--superman::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
 opacity: 0;
  background-color: rgb(167, 227, 247);
 /*  bottom: -100%; */
  content: "";
  animation: by 1s ease-in 25s 1 forwards;
}

@keyframes by {
  0%{
  opacity: 0;
  }

  100%{
    /* bottom: 0; */
    opacity: 0.7;
  }
}



.car__handle {
  width: 20px;
  height: 5px;
  background-color: gray;
  position: absolute;
  bottom: 40px;
  left: 5px;
  border: 1px solid black;
  border-radius: 30%;
}

.car__handle-1 {
  width: 20px;
  height: 5px;
  background-color: gray;
  position: absolute;
  bottom: 40px;
  border: 1px solid black;
  border-radius: 30%;
  right: 5px;
}
.car__wing-1 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  bottom: -40px;
  right: -85px;
}
.car__door-2 {
  width: 85px;
  height: 140px;
  position: absolute;
  background-color: red;
  border: 1px solid rgb(103, 71, 71);
  top: 10px;
  right: 115px;
}
.car__wing-2 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  bottom: -40px;
  left: 10px;
}
.car__window-3 {
  width: 75px;
  height: 40px;
  background-color: rgb(167, 227, 247);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 10px;
}

.car__bound {
  width: 30px;
  height: 30px;
  background: url("../img/superman-logo.png") center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.car__wheel-1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: -50px;
  right: -80px;
  animation: rotate 1s linear infinite 25s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.car__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.car__shaft {
  width: 10px;
  height: 10px;
  background-color: silver;
  position: absolute;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
.car__wheel-2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: -50px;
  left: 15px;
  animation: rotate 1s linear infinite 25s;
}

.car__bolt-1 {
  width: 4px;
  height: 18px;
  border-radius: 5px;
  background-color: silver;
  position: absolute;
  top: 0;
  left: 23px;
}
.car__bolt-2 {
  width: 4px;
  height: 18px;
  border-radius: 5px;
  background-color: silver;
  position: absolute;
  bottom: 0;
  left: 23px;
}
.car__bolt-3 {
  width: 18px;
  height: 4px;
  border-radius: 5px;
  background-color: silver;
  position: absolute;
  left: 0;
  top: 23px;
}
.car__bolt-4 {
  width: 18px;
  height: 4px;
  border-radius: 5px;
  background-color: silver;
  position: absolute;
  right: 0;
  top: 23px;
}

.car__step {
  width: 100px;
  height: 10px;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  bottom: -5px;
  left: 145px;
}

.car__window-2:hover {
  background: url("../img/dog.jpg") center / cover no-repeat;
}

.page__alien {
  max-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100px, 0);
  animation-name: departure;
  animation-duration: 25s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.alien__img {
  width: 100%;
}

@keyframes departure {
  0% {
    transform: translate(-100px, 0);
  }
  50% {
    transform: translate(150px, 0);
  }
  100% {
    transform: translate(-100px, 0);
  }
}

.page__alien::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 25px;
  width: 50px;
  height: 120px;
  background-image: linear-gradient(
    90deg,
    rgba(30, 18, 213, 1) 0%,
    rgba(17, 177, 224, 1) 12%,
    rgba(15, 206, 226, 1) 43%,
    rgba(14, 212, 227, 1) 50%,
    rgba(16, 185, 225, 1) 88%,
    rgba(30, 18, 213, 1) 100%
  );
  transform: perspective(120px) rotateX(45deg);
  opacity: 0;
  animation: light 10s linear 5s 1 forwards;
}
@keyframes light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
